<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= subject %></title>
    <style>
      body {
        font-family: 'Comic Sans', 'Comic Sans MS', cursive;
        stroke: none;
        fill: black;
        letter-spacing: -1px;
      }
    </style>
  </head>
  <body>
    <h1>welcome to framespaces</h1>
    <% if (fsName) { %>
    <p>
      you have been invited to join the framespace "<%= fsName %>"
      <% if (invitedBy) { %>by <%= invitedBy %><% } %>
    </p>
    <% } %>
    <p><a href="<%= loginUrl %>">ok let's go!</a></p>
    <p><small>by the way, we don't keep your email address</small></p>
  </body>
</html>